<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TechBlog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  </head>

  <body>
    <div class="page-wrapper">
    <nav class="navbar">
  <a class="navbar-brand" href="{{ url_for('blog.index') }}">
    <img
      src="{{ url_for('static', filename='favicon.ico') }}"
      class="home_icon"
    />
    TechBlog
  </a>

  <ul class="nav-right">
    <li class="dropdown">
      <a href="#">
        <img
          src="{{ url_for('static', filename='profile.png') }}"
          class="home_icon"
        />
        {% if g.user %}
          {{ g.user['username'] }}
        {% endif %}
      </a>
      <ul class="dropdown-menu">
        {% if g.user %}
        <li>
          <a href="{{ url_for('auth.logout') }}">
            <img src="{{ url_for('static', filename='logout.png') }}" class="home_icon" />
            Log Out
          </a>
        </li>
        {% else %}
        <li>
          <a href="{{ url_for('auth.register') }}">
            <img src="{{ url_for('static', filename='register.png') }}" class="home_icon" />
            Register
          </a>
        </li>
        <li>
          <a href="{{ url_for('auth.login') }}">
            <img src="{{ url_for('static', filename='login.png') }}" class="home_icon" />
            Log In
          </a>
        </li>
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>

    <main>
      <section class="content">
        <header class="header">{% block header %}{% endblock %}</header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %} {% block content %}{% endblock %}
      </section>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h4>About Us</h4>
          <p>Learn more about our company and mission.</p>
        </div>
        <div class="footer-section">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="{{ url_for('blog.index') }}">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Contact Us</h4>
          <p>Email: anuragdu125@gmail.com</p>
          <p>Phone: +123-456-7890</p>
        </div>
        <div class="footer-section">
          <h4>Follow Us</h4>
          <ul class="social-links">
            <li>
              <a
                href="https://www.linkedin.com/in/anuragdubey14/"
                target="_blank"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2025 TechBlog. All rights reserved.</p>
      </div>
    </footer>
    </div>
  </body>
</html>
