{% extends 'base.html' %}

{% block header %}
  <h1>Posts</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="card-grid">
    {% for post in posts %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post['title'] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            by {{ post['username'] }} on {{ post['created'].strftime('%b %d, %Y') }}
          </h6>
          <p class="card-text">
            {{ post['body'][:200] }}{% if post['body']|length > 200 %}...{% endif %}
          </p>
          <a href="{{ url_for('blog.detail', id=post['id']) }}" class="card-link">Read more</a>
          
          {% if g.user and g.user['id'] == post['author_id'] %}
            <a href="{{ url_for('blog.update', id=post['id']) }}" class="card-link">Edit</a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <p>No posts yet.</p>
    {% endfor %}
  </div>
{% endblock %}
